#This file can be used to automatically program the STM32F0-Discovery board's Flash memory from the command line
#After programming, the board must be power-cycled (briefly remove the power) for the program to start running
#This can be done by unpluggin the USB cable, or removing JP2

init

proc stm_flash {IMGFILE} {
	reset halt
	sleep 100
	wait_halt 2
	flash write_image erase $IMGFILE 0x08000000
	sleep 100 
	verify_image $IMGFILE 0x08000000
	sleep 100
	reset run
}

proc stm_erase {} {
	reset halt
	sleep 100
	stm32f1x mass_erase 0
	sleep 100
}
